# Count of Offences per Force

In [1]:
import pyspark
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from pyspark.sql.functions import col, sum, count, avg, desc
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark import SparkContext, SparkConf

In [2]:
## merge the last 7 years
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Map Reduce").getOrCreate()

df_2017 = spark.read.csv("2017-18.csv", header=True, inferSchema=True)
df_2018 = spark.read.csv("2018-19.csv", header=True, inferSchema=True) 
df_2019 = spark.read.csv("2019-20.csv", header=True, inferSchema=True)
df_2020 = spark.read.csv("2020-21.csv", header=True, inferSchema=True)
df_2021 = spark.read.csv("2021-22.csv", header=True, inferSchema=True)
df_2022 = spark.read.csv("2022-23.csv", header=True, inferSchema=True)
df_2023 = spark.read.csv("2023-24.csv", header=True, inferSchema=True)

In [4]:
new_df = df_2017.union(df_2018).union(df_2019).union(df_2020).union(df_2021).union(df_2022).union(df_2023)

In [5]:
filtering = new_df.select("Force Name", "Number of Offences")

# Create key-value pairs (Offence Group, 1) for counting
mapped = filtering.rdd.map(lambda row: (row["Force Name"], 1))

# Reduce by key (Offence Group) and count occurrences
reduced = mapped.reduceByKey(lambda x, y: x + y)

In [6]:
# Convert back to DataFrame and display
result = reduced.toDF(["Force Name", "Count of Offences"])

In [7]:
result.toPandas()

                   Force Name  Count of Offences
0                      Durham               3345
1             North Yorkshire               3345
2                      Sussex               3345
3                        None               3690
4                 Dyfed-Powys               3345
5                       Essex               3345
6                  Lancashire               3345
7         Metropolitan Police               3345
8               Staffordshire               3345
9              West Yorkshire               3345
10                  Wiltshire               3345
11             Cambridgeshire               3345
12                 Derbyshire               3345
13                     Dorset               3345
14            Gloucestershire               3345
15                      Gwent               3345
16                  Hampshire               3345
17              Hertfordshire               3345
18           Northamptonshire               3345
19                South Wales               3345
20                     Surrey               3345
21              West Midlands               3345
22                 UK Finance                 24
23               Bedfordshire               3345
24         Devon and Cornwall               3345
25         Greater Manchester               3351
26                    Norfolk               3345
27            Nottinghamshire               3345
28              Thames Valley               3345
29               Warwickshire               3345
30                West Mercia               3345
31               Action Fraud                 25
32                      CIFAS                 25
33   British Transport Police               3345
34             Leicestershire               3345
35            London, City of               3345
36                 Merseyside               3345
37                   Cheshire               3345
38                North Wales               3345
39                Northumbria               3345
40            South Yorkshire               3345
41  Financial Fraud Action UK                  1
42          Avon and Somerset               3345
43                  Cleveland               3345
44                    Cumbria               3345
45                 Humberside               3345
46                       Kent               3345
47               Lincolnshire               3345
48                    Suffolk               3345